{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="bg-primary text-center py-5 mb-4">
        <div class="container">
            <h1 class="font-weight-light text-white">Welcome Character Translator</h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <a href="{% url 'translator' 'latinToCyrillic' %}" class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'images/img1.jpg' %}"
                         class="card-img-top" alt="image">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Latin</h5>
                        <div class="card-text text-black-50">to Cyrillic</div>
                    </div>
                </div>
            </a>
            <a href="{% url 'translator' 'latinToGeorgian' %}" class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'images/img2.jpg' %}"
                         class="card-img-top" alt="image">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Latin</h5>
                        <div class="card-text text-black-50">to Georgian</div>
                    </div>
                </div>
            </a>
            <a href="{% url 'translator' 'latinToArmenian' %}" class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'images/img3.jpg' %}"
                         class="card-img-top" alt="image">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Latin</h5>
                        <div class="card-text text-black-50">to Armenian</div>
                    </div>
                </div>
            </a>
            <a href="{% url 'translator' 'latinToGreek' %}" class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'images/img4.jpg' %}"
                         class="card-img-top" alt="image">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Latin</h5>
                        <div class="card-text text-black-50">to Greek</div>
                    </div>
                </div>
            </a>
            <a href="{% url 'translator' 'cyrillicToLatin' %}" class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'images/img5.jpg'%}"
                         class="card-img-top" alt="image">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Cyrillic</h5>
                        <div class="card-text text-black-50">to Latin</div>
                    </div>
                </div>
            </a>
            <a href="{% url 'translator' 'georgianToLatin' %}" class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'images/img6.jpg' %}"
                         class="card-img-top" alt="image">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Georgian</h5>
                        <div class="card-text text-black-50">to Latin</div>
                    </div>
                </div>
            </a>
            <a href="{% url 'translator' 'armenianToLatin' %}" class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'images/img7.jpg' %}"
                         class="card-img-top" alt="image">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Armenian</h5>
                        <div class="card-text text-black-50">to Latin</div>
                    </div>
                </div>
            </a>
            <a href="{% url 'translator' 'greekToLatin' %}" class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'images/img8.jpg' %}"
                         class="card-img-top" alt="image">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Greek</h5>
                        <div class="card-text text-black-50">to Latin</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}